//color
$off-black:black;
$off-white: white;
$off-cyan: cyan;
$dark-blue:#5e6061;
$dark-light: #b2b2b3;
$dark-lighten: #ababaf;
$purple:rgb(238, 102, 238);
$light-blue: blue;

//space
$xs-size: 0.8rem;
$s-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;